body {
  margin: 0;
  font-family: 'PKMN', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #efe3f0;
  height: 100vh;
}

* {
  box-sizing: border-box;
  margin:0;
  position: relative;
}

h1, h2 {
  font-size: 48px;
  letter-spacing: 0.15em;
}

h1, h2, h3, h4, p {
  display: inline-block;
}

p {
  font-size: 32px;
}

a {
  text-decoration: none;
  color: black;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family: 'PKMN';
  src: url('./assets/fonts/PKMN.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
